#clock {
    width: 758px;
    margin: 25% auto 0;
    cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#clock .base,
#clock .body,
#clock .buttons {
    margin: 0 auto;
    text-align: left;
}

#clock .base {
    width: 75%;
    height: 1em;
    background-color: rgb(40, 42, 45);
    border-radius: 0 0 .2125em .2125em;
    clear: both;
}

#clock .body {
    width: 96.5%;
    padding: 1em;
    background-color: rgb(31, 28, 29);
    border-radius: .25em;
    box-sizing: border-box;
    float: left;
}

#clock .branding {
    width: 100%;
    height: 2em;
    padding-top: .5em;
    background-color: transparent;
    clear: both;
}

#clock .buttons {
    width: 20%;
    height: .75em;
    margin-left: 60%;
    overflow: hidden;
}

#clock .container {
    width: 100%;
    padding: 2em 1.5em 0;
    box-sizing: border-box;
    overflow: hidden;
}

#clock .dial {
    width: 3.5%;
    height: 8em;
    border-right: 1px solid rgb(147, 145, 146);
    margin-top: 2.8125em;
    background-color: gray;
    background-image: linear-gradient(to bottom, rgba(238,238,238,.5) 10%,rgba(204,204,204,.5) 90%);
    background-size: 50px 20px;
    box-sizing: border-box;
    float: right;
}

#clock .display {
    width: 40%;
    padding: .25em;
    background-color: rgb(19, 17, 18);
    box-shadow: inset .125em .125em .125em black;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}

#clock .radio {
    width: 55%;
    padding: 1em;
    background-color: rgb(24, 22, 23);
    box-shadow: inset .125em .125em .125em black;
    box-sizing: border-box;
    float: right;
    position: relative;
}





/* BUTTONS SPECIFICS */

#clock .button {
    width: 30%;
    height: 100%;
    border-bottom: 1px solid lightgray;
    margin-right: 5%;
    background-color: rgb(235, 218, 201);
    border-radius: .125em .125em 0 0;
    box-shadow: inset 0 0 3px rgb(240, 219, 206);
    box-sizing: border-box;
    float: left;
    position: relative;
}

#clock .button:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(123, 123, 123, .3);
    position: absolute;
}

#clock .button:first-of-type {
    background-color: rgb(157, 155, 156);
    border-bottom-color: darkgray;
    box-shadow: inset 0 0 3px rgb(187, 185, 186);
}

#clock .button:last-of-type {
    margin-right: 0;
}

#clock .button .hitarea:hover {
    border-top: .5em solid invisible;
}





/* DISPLAY SPECIFICS */

#clock .separator,
#clock .number {
    height: 6em;
    float: left;
}

#clock .separator {
    width: 8%;
    position: relative;
}

#clock .separator:after,
#clock .separator:before {
    content: '';
    width: .5em;
    height: .625em;
    left: 50%;
    margin-left: -.25em;
    background-color: lightgray;
    border-radius: .125em;
    display: block;
    position: absolute;
}

#clock .separator:after {
    bottom: 1.5em;
}

#clock .separator:before {
    top: 1.5em;
}

#clock .number {
    width: 44%;
    border-top: .25em solid rgb(36, 34, 35);
    border-bottom: .25em solid rgb(36, 34, 35);
    padding: .25em;
    background-color: rgb(40, 42, 45);
    box-sizing: border-box;
    display: table;
    position: relative;
    text-align: center;
    z-index: 0;
}

#clock .number.hours {
    width: 48%;
}

#clock .number:after {
    content: '';
    top: -.5em;
    left: 50%;
    width: 0;
    height: 0;
    border-top: .75em solid rgb(25, 22, 24);
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    margin-left: -.3875em;
    position: absolute;
}

#clock .number:before {
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid rgb(55, 56, 58);
    border-bottom: 1px solid rgb(70, 71, 73);
    margin-top: -.125em;
    background-color: black;
    display: block;
    position: absolute;
    z-index: 2;
}

#clock .number:nth-child(2),
#clock .number:nth-child(5) {
    margin-left: .5em;
}
/*
#clock .number:nth-child(2):before,
#clock .number:nth-child(5):before {
    margin-top: .125em;
}*/

#clock .number .meridian,
#clock .number .text {
    display: table-cell;
}

#clock .number .meridian {
    color: white;
    font: normal 1em 'HelveticaNeue-CondensedBold';
}

#clock .number .text {
    height: 1em;
    color: rgb(240, 241, 243);
    font: normal 5em 'HelveticaNeue-CondensedBold';
    letter-spacing: -1px;
    line-height: 1em;
    z-index: 1;
}

#clock .number:first-of-type .text {
    text-align: right;
}




/* TRIM (BRANDING) SPECIFICS */

#clock .branding .logo,
#clock .branding .label {
    height: 2em;
    margin-right: 2em;
    color: rgb(232, 238, 242);
    display: inline-block;
    line-height: 2em;
    vertical-align: middle;
}

#clock .logo .hitarea {
    font: normal 700 1.25em/1em 'aviano-slab-1', 'aviano-slab-2', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

#clock .branding .label .text {
    font-size: .6125em;
    letter-spacing: .375em;
    line-height: 1em;
}

#clock .trim {
    border: .25em solid white;
    border-radius: 1em;
    box-shadow: inset 0 0 3px #c1c1c9;
    overflow: hidden;
}





/* RADIO SPECIFICS */

#clock .indicator {
    top: 0;
    left: 25%;
    width: .1875em;
    height: 100%;
    background-color: rgb(139, 73, 33);
    position: absolute;
}

#clock .indicator:before,
#clock .indicator:after {
    top: 0;
    width: .625em;
    height: 100%;
    background-color: rgba(255, 255, 255, .15);
    content: ' ';
    display: block;
    position: absolute;
}

#clock .indicator:after {
    right: -.625em;
}

#clock .indicator:before {
    left: -.625em;
}

#clock .stations {
    width: 100%;
    height: 1em;
    margin: 0;
    display: table;
}
/*
#clock .stations:first-of-type {
    margin-bottom: .5em;
}

#clock .stations:last-of-type {
    margin-top: .5em;
}
*/
#clock .radio .station,
#clock .radio .label {
    margin-right: 1em;
    color: rgb(109, 175, 76);
    display: table-cell;
    font-size: .6875em;
    font-weight: 600;
    line-height: 1em;
    vertical-align: top;
}

#clock .stations:last-of-type .station,
#clock .stations:last-of-type .label {
    vertical-align: bottom;
}

#clock .radio .label:last-of-type {
    margin-right: 0;
    text-align: right;
}

#clock .wave {
    height: 2.5em;
    margin: 0 1.25em;
    background-color: inherit;
    background-image: linear-gradient(90deg, transparent 50%, rgba(253, 221, 130, .5) 50%);
    background-size: 6px 50px;
}
