/*
 px   em
 --- ------
 10  0.625
 11  0.6875
 12  0.75
 13  0.8125
 14  0.875
 15  0.9375
 16  1.0
 18  1.125
 20  1.25
 24  1.5
*/


a {
    color: inherit;
}

a:hover {
    color: #00aeff;
}

body {
    height: 100%;
    margin-bottom: 3em;
    background-color: white;
    color: rgb(22, 28, 38);
    font: 500 1em/1.5em "proxima-nova-1", "proxima-nova-2", sans-serif;
    text-align: center;
}

dt, dd { border:1px solid black;}

html {
    height: 100%;
}



#content,
#layout,
#content > .section {
    height: 100%;
    width: 100%;
}

#content > .section {
    padding-top: 4rem;
    box-sizing: border-box;
}




.section > .container {
    width: 80vw;
    margin: 6rem auto 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
}

.marquee > .container {
    width: 758px;
    margin-top: 0;
    padding: 3em 0;
}


.contact {
    background-color: gray;
}

.resume {
    background-color: rgb(224, 78, 78);
}

.marquee {
    background-color: #39f;
}

.skills {
    background-color: rgb(109, 175, 76);
}








.hitarea {
    display: inline-block;
}

.print-page-break,
.print-only {
    display: none;
}






.header {
    overflow: hidden;
}

.header .contact,
.header .identity,
.header .menu {
    width: 50%;
    float: left;
}

.header .contact {
    display: none;
}

.header .contact,
.header .menu {
    float: right;
    text-align: right;
}

.header .menu {
    height: 3em;
    padding-top: 1em;
}

.header .contact a {
    margin-left: .5em;
    font-size: .875em;
}

.header .menu a {
    margin-left: .25em;
    padding: .25em .75em;
    color: rgb(180, 188, 190);
    display: inline-block;
    font: normal 500 1.25em "proxima-nova-condensed-1", "proxima-nova-condensed-2", sans-serif;
    transition: color .25s ease-out;
}

.header .menu .active a,
.header .menu a:hover {
    color: #00aeff;
}

.header a {
    text-decoration: none;
}

.header .identity a {
    color: rgb(22, 28, 38);
    font: normal 500 4em/1em "muscle-narrow-1", "muscle-narrow-2", sans-serif;
    text-transform: uppercase;
    transition: color .25s ease-out;
}

.header .identity a:hover {
    color: #00aeff;
}









.section .headline {
    font: normal 700 3em "proxima-nova-condensed-1", "proxima-nova-condensed-2", "Helvetica Condensed", sans-serif;
}

.section .title {
    margin-top: .75em;
    color: gray;
    font-size: 1.25em;
    text-transform: uppercase;
}

.section .heading {
    border-bottom: 1px solid rgbA(255, 255, 255, .375);
    padding-bottom: 1.5em;
    color: rgba(255, 255, 255, .5);
    font-weight: 600;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}








.list-items {
    width: 100%;
    margin-top: 0;
    overflow: hidden;
}

.list-items .list-item {
    width: 50%;
    margin: 2rem 0 0 0;
    padding: 2rem;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .75);
    display: table;
    float: left;
    list-style: none;
}

.list-items .list-item:hover {
    color: white;
}

.list-items .list-item:nth-of-type(2n-1) {
    padding-left: 0;
    clear: both;
}

.list-items .list-item:nth-of-type(2n+0) {
    padding-right: 0;
}

.list-items .icon {
    margin: 0 auto;
    padding-right: 1.5em;
    color: rgba(255, 255, 255, .85);
    display: table-cell;
    transition: all .25s ease-in;
    -webkit-transform-style: preserve-3d;
    vertical-align: middle;
}

.list-items .icon .fa {
    font-size: 3em;
    transition: color .25s ease-in;
}

.list-items .hitarea:hover .name {
    color: #00aeff;
}

.list-items .description {
    width: 100%;
    display: table-cell;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
}

.list-items .company {
    font-weight: 500;
}

.list-items .dates {
    margin-top: 0;
    font: 300 .875em "proxima-nova-condensed-1", "proxima-nova-condensed-2", "Helvetica Condensed", sans-serif;
}

.list-items .name {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "proxima-nova-condensed-1", "proxima-nova-condensed-2", "Helvetica Condensed", sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    transition: color .2s ease-out;
}





.resume-items .list-item {
    display: block;
}

.resume-item .company {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.resume-item .description {
    margin-top: 1em;
}

.resume-item .name {
    margin-top: 0;
    display: block;
    font-size: 1.125em;
}







.social-items .list-item {
    width: 25%;
    margin: 1.5rem 0 0 0;
    border: 1px solid whitesmoke;
    display: table;
}


.social-items .list-item .fa {
    width: 25%;
    border-right: 1px solid whitesmoke;
    padding: .25em;
    color: whitesmoke;
    display: table-cell;
    font-size: 1.5rem;
    text-align: center;
}

.social-items .list-item .hitarea {
    padding: .25em .5em;
    color: whitesmoke;
    display: table-cell;
    font: 500 1.25em "proxima-nova-condensed-1", "proxima-nova-condensed-2", "Helvetica Condensed", sans-serif;
    text-decoration: none;
}










.footer .container {
    width: 80vw;
    margin: 0 auto;
    padding: 1.5em 0;
    overflow: hidden;
}

.footer .copyright,
.footer .menu {
    width: 49%;
    margin: 0;
    color: rgb(180, 188, 190);
    display: inline-block;
    font: normal 500 1em "proxima-nova-condensed-1", "proxima-nova-condensed-2", sans-serif;
}

.footer .copyright {
    text-align: left;
    text-transform: uppercase;
}

.footer .menu {
    text-align: right;
}

.footer .menu a {
    border: 1px solid rgb(180, 188, 190);
    margin-left: .5em;
    padding: .125em .625em;
    color: rgb(180, 188, 190);
    display: inline-block;
    text-decoration: none;
}

.footer .menu a:hover {
    background-color: #00aeff;
    border-color: #00aeff;
    color: white;
}
