/*
 px  em
 --- ------
 10  .625
 11  .6875
 12  .75
 13  .8125
 14  .875
 15  .9375
*/

a {
    color: #39f;
}

body {
    color: rgb(22, 24, 29);
    font: 400 1em Roboto, 'Courier New', Courier, mono;
    text-align: center;
}

#layout {
    width: 100%;
}



.hashtag {
    color: rgb(2, 5, 7);
}

#header  > .container,
#content > .container,
#footer  > .container {
    width: 920px;
    margin: 0 auto;
    text-align: left;
}




#header {
    background-color: #39f;
    padding: .5em;
}

#header .identity {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

#content header {
    margin-top: 1.5em;
}

#content .headline {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1em;
}

#content section > .heading {
    font-weight: 700;
    margin-top: 1.5em;
}

#content .products {
    width: 100%;
    margin-top: 1.5em;
    overflow: hidden;
}

#content .product {
    width: 33%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    list-style: none;
    float: left;
    text-align: center;
}

#content .products.four .product {
    width: 25%;
}

#content .product:first-child {
    margin-left: 0;
}

#content .product .container {
    width: 5em;
    height: 5em;
    border: .1875em solid;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

#content .product .icon {
    width: 3em;
    height: 3em;
    margin-top: 1em;
    display: inline-block;
    text-align: left;
}

#content .product:hover .icon {
    width: 3.5em;
    height: 3.5em;
    margin-top: .75em;
}

#content .product .description {
    width: 100%;
    margin-top: 1.5em;
    padding: .5em;
    font-size: .8125em;
    text-align: left;
}

#content .product .name {
    margin-top: 1.5em;
    font-size: .9375em;
    font-weight: bold;
    line-height: 1em;
}



#footer {
    margin: 3em 0 1.5em;
}

#footer .container {
    border-top: 2px solid lightgray;
    text-transform: uppercase;
}

#footer .copyright {
    margin-top: 1em;
    color: rgb(122, 125, 127);
    font-size: .6875em;
    font-weight: 700;
}
