/*
 px   em
 --- ------
 10  0.625
 11  0.6875
 12  0.75
 13  0.8125
 14  0.875
 15  0.9375
 16  1.0
 18  1.125
 20  1.25
 24  1.5
*/


a {
    color: inherit;
}

a:hover {
    color: #39f;
}

body {
    background-color: white;
    color: rgb(22, 28, 38);
    font: 300 1em/1.5em "proxima-nova-1", "proxima-nova-2", sans-serif;
    text-align: center;
}

#layout {
    width: 100%;
}





footer > .container,
header > .container,
article > .container {
    margin: 0 auto;
    padding: 4.5em 0 1.5em 0;
    max-width: 728px;
    min-width: 480px;
    text-align: left;
}

.hashtag {
    /*color: rgb(32, 54, 70);
    font-weight: 500;*/
}








#header {
    padding-top: 3em;
}

#header a {
    color: white;
    text-decoration: none;
}

#header .identity,
#header .menu {
    display: inline-block;
    vertical-align: top;
}

#header .identity a {
    color: rgb(22, 28, 38);
    font-size: 3em;
    font-style: italic;
    text-transform: uppercase;
}

#header .menu {
    float: right;
    font: 500 1em;
}

#header .menu a {
    border: 1px solid white;
    color: inherit;
    margin-left: .5em;
    padding: .0625em .5em .1875em;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
}

#header .menu .active a,
#header .menu a:hover {
    background-color: white;
    border-color: white;
    color: inherit;
}








#content .section {
    border-top: 1px solid #00aeff;
    margin-top: 6em;
    padding-top: 6em;
}

#content .section:first-of-type {
    margin-top: 0;
}





.section .headline {
    font: 600 2.5em "proxima-nova-condensed-1", "proxima-nova-condensed-2", "Helvetica Condensed", sans-serif;
}

.section .heading {
    margin-top: 3em;
    border-bottom: 1px solid rgb(220, 228, 230);
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
}

.section .list-items {
    width: 100%;
    margin-top: 3em;
    overflow: hidden;
}

.section .list-item {
    width: 31%;
    margin-left: 3.5%;
    box-sizing: border-box;
    list-style: none;
    float: left;
    position: relative;
    text-align: center;
    transition: color .25s ease-in;
}

.section .list-item:first-of-type {
    margin-left: 0;
}

.section .list-item .container {
    width: 5em;
    height: 5em;
    border: 1px solid rgb(180, 188, 190);
    margin: 0 auto;
    text-align: center;
    transition: border-color .25s ease-in;
}

.section .list-item .fa {
    margin-top: .375em;
    font-size: 3em;
    transition: color .25s ease-in;
}

.section .list-item .icon {
    width: 2.25em;
    height: 2.25em;
    margin-top: 1.5em;
    display: inline-block;
    text-align: left;
    transition: all .25s ease-in;
}

.section .list-item:hover .container {
    border-color: #00aeff;
}

.section .list-item:hover .icon {
    width: 3em;
    height: 3em;
    margin-top: 1em;
}

.section .list-item:hover a,
.section .list-item:hover strong {
    color: #00aeff;
}

.section .list-item .description {
    width: 100%;
    margin-top: 1.5em;
    font-size: .875em;
    font-weight: 300;
    text-align: left;
}

.section .list-item .company {
    font-weight: 500;
}

.section .list-item .dates {
    margin-top: .5em;
    font: 300 .875em "proxima-nova-condensed-1", "proxima-nova-condensed-2", "Helvetica Condensed", sans-serif;
}

.section .list-item .name {
    margin-top: 1.5em;
    font-size: 1em;
    font-weight: 600;
    line-height: 1em;
}





.section .results .list-item {
    width: 22.5%;
    margin-left: 3.33%;
}

.section .results .list-item:first-child {
    margin-left: 0;
}

.section .results .list-item .description {
    margin-top: 1em;
}





.section .social-sites .list-item {
    width: 18.25%;
    margin-left: 2%;
}

.section .social-sites .list-item:first-child {
    margin-left: 0;
}






#footer {
    margin-top: 6em;
}

#footer .container {
    padding-top: 1.5em;
    overflow: hidden;
}

#footer .copyright,
#footer .menu {
    margin: 0;
    color: rgb(180, 188, 190);
    display: inline-block;
    font: 500 1em "proxima-nova-condensed-1", "proxima-nova-condensed-2", sans-serif;
    font-weight: 300;
}

#footer .copyright {
    width: 34%;
    text-transform: uppercase;
}

#footer .menu {
    width: 65%;
    text-align: right;
}

#footer .menu a {
    border: 1px solid rgb(180, 188, 190);
    margin-left: .5em;
    padding: .125em .625em;
    color: rgb(180, 188, 190);
    display: inline-block;
    text-decoration: none;
}

#footer .menu a:hover {
    background-color: rgb(180, 188, 190);
    border-color: rgb(180, 188, 190);
    color: white;
}
