#contact {
  background-color: #369ad9;
  text-align: center;
}

#contact .headline {
  color: white;
}

.social-items {
  margin: 1.5em auto 0;
}

.social-item {
  min-width: 15%;
  margin: 1.5em 0 0 0.75em;
  display: inline-block;
}

.social-item:first-of-type {
  margin-left: 0;
}

.social-item .hitarea {
  width: 100%;
  border: 1px solid white;
  color: white;
  display: table;
  text-decoration: none;
  background-color: transparent;
}

.social-item .hitarea:hover {
  background-color: white;
  color: black;
}

.social-item .hitarea:hover .fa {
  background-color: black;
  color: white;
}

.social-item .fa {
  width: 2em;
  padding: 0.25em 0;
  display: table-cell;
  /* font-size: 1em; */
  color: #369ad9;
  text-align: #f2f2f2;
  background: white;
}

.social-item .text {
  padding: 0.5em 0.75em;
  display: table-cell;
  font: 600 0.75em 'PublicSansVariable', sans-serif;
  text-align: left;
  text-transform: uppercase;
}

#footer {
  width: 100%;
  background-color: #369ad9;
}

#footer .container {
  max-width: 1024px;
  border-top: 1px solid white;
  margin: 0 auto;
  padding: 1.5em 3em 3em;
  overflow: hidden;
}

#footer .copyright,
#footer .menu {
  width: 49%;
  margin: 0;
  color: whitesmoke;
  display: inline-block;
  font-size: 0.8125em;
}

#footer .copyright {
  text-align: left;
  text-transform: uppercase;
}

#footer .menu {
  text-align: right;
}

#footer .menu a {
  border: 1px solid whitesmoke;
  margin-left: 0.5em;
  padding: 0.25em 0.75em;
  display: inline-block;
  text-decoration: none;
}

#footer .menu a:hover {
  background-color: white;
  color: rgb(13, 43, 64);
}
